.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f8f8f2;
  font-size: 15px;
}

.App-link {
  color: #61dafb;
}

.content {
  display: flex;
  padding: 20px;
  border: 1px solid #8be9fd;
  border-radius: 8px;
  height: 90vh;
  width: 1300px;
}

.tabPanel {
  justify-content: flex-start;
  flex-direction: column;
  display: flex; 
  margin-bottom: 20px;
  width: 450px;
}

.tabButtons {
  display:flex;
}

.tabPanel button {
  height: 40px;
  font-weight: bold;
}

.dataPanel {
  border: 1px solid #8be9fd;
  border-radius: 8px;
  width: 100%;
  overflow: hidden;
}

.tableWrapper{
  margin: 20px;
  height: 100%;
  overflow: auto;
  border-top: 1px solid #ddd;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 40px;
}

thead {
  position: sticky;
  top: 0;
  background-color:#282c34;
  z-index: 1;
  border-bottom: 1px solid #ddd;
}

table button, .addButton {
  padding: 5px 10px;
  color: #ddd;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.tableUpdateButton {
  background-color: #8be9fd;
  color: #282c34;
}

.tableDeleteButton {
  background-color: #ff5555;
  color: #ddd;
}

.tableUpdateButton, .tableDeleteButton {
  margin: 5px;
  width: 65px;
}

table button:disabled {
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.6;
}

th {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 8px;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
}

table th:last-child, table td:last-child {
  border-left: none;
}

table th:nth-last-child(2), table td:nth-last-child(2) {
  border-right: none;
}

.searchbar {
  margin-top: 40px;
  width: 100%;
}

.popUp input, .searchbar input {
  height: 35px;
  width: 275px;
  float: left;
  padding: 0 10px;
  background-color: #282c34;
  border: 1px solid #8be9fd;
  border-radius: 8px;
  color: #8be9fd;
}

.popUp input::placeholder, .searchbar input::placeholder {
  color: #8be9fd;
  opacity: 1; /* Firefox */
}

.popUp input:focus, textarea:focus, .searchbar input:focus, textarea:focus {
  outline: none;
  border: 2px solid #ff5555;
  color: #ff5555;
  font-weight: bold;
}

.loading {
  position: absolute;
  top: 50%;
  color: #ff5555;
  font-weight: bold;
}

.popUp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(40, 44, 52, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.popUp input{
  margin: 10px auto;
}

.popUp h3 {
  color: #ff5555;
}

.popUpContent {
  background-color:#282c34;
  padding: 20px;
  border: 1px solid #8be9fd;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: flex;
  flex-direction: column;
}

.popUpContent label {
  color: #8be9fd;
  font-weight: bold;
}

.addButton {
  width: 70%;
  margin: 35px auto;
  transform: translate(-8%, 0);
  background-color: #ff5555;
}

.popUpButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top:20px;
}

.submitButton, .cancelButton {
  font-weight: bold;
  cursor: pointer;
  height: 40px;
  width: 100px;
  border-radius: 4px;
}

.submitButton {
  background-color:#ff5555;
  border: 1px solid #ff5555;
  color: #ddd;
}

.cancelButton{
  background-color:#282c34;
  border: 1px solid #8be9fd;
  color: #8be9fd;
}

.selectDropdown{
  width: 100%;
  height: 40px;
  cursor: pointer;
  border-radius: 8px;
  background-color:#282c34;
  border: 1px solid #8be9fd;
  color: #8be9fd;
  padding: 0 5px;
  margin-top: 10px;
}